.about {
  padding: 20px 0;
}

.about__block {
  justify-content: center;
}

.about__photo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about__img {
  object-fit: cover;
  width: 80%;
  height: auto;
  box-shadow: 10px 10px $first-shadow-color;
}

.about__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: $very-sm-width) {
    text-align: center;
  }
}

.about__header {
  font-size: 26px;
  line-height: 1;
  font-weight: bold;
}

.about__info {
  font-size: 20px;
  color: $descr-text-color;

  @media (max-width: $mobile-width) {
    font-size: 15px;
  }
}
