.btn {
  display: block;
  min-width: 110px;
  margin-top: 20px;
  background-color: $second-button-color;
  text-align: center;
  font-size: 16px;

  &:hover,
  &:focus {
    background-color: #c7bf9d;
  }

  &:active {
    opacity: 0.5;
  }

  &--modal {
    margin: 0 auto;
  }

  @media (max-width: $very-sm-width) {
    margin: 10px auto;
  }
}
