//Color-scheme
$basic-background-color: #ffffff;
$promo-background-color: #253141;
$footer-background-color: #1c3135;
$light-background-color: #f8f3db;
$border-background-color: #d4e4ef;

$first-text-color: #1c3135;
$second-text-color: #818a48;
$third-text-color: #e99c46;
$descr-text-color: #565656;
$basic-text-color:  #ffffff;
$hover-text-color: #a8bdb8;
$highlight-text-color: #ce926c;

$first-button-color: #ffffff;
$second-button-color: #ce926c;

$first-shadow-color: #8a9877;

//Breakpoints-widths

$very-sm-width: 576px;
$mobile-width: 767px;
